<!DOCTYPE html>
<html lang="en">

<!-Head tag --> 
<%- partial('_partial/head') %>

<body>
	<!-- Menu -->
	<%- partial('_partial/menu') %>
	
		<!-- Blog Header: title and subtitle -->
        <%- partial('_partial/header') %>
	<div class="container">

        
        <div class="row">

            <!-- Main Content -->
            <div class="col-sm-8 blog-main">
                <%- body %>
            </div>

            <!-- Sidebar -->
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <%- partial('_partial/sidebar') %>
            </div>
        </div>

    </div>
	
	
	<!-- After footer scripts --> 
	<%- partial('_partial/after-footer') %>
</body>

</html>